body {
    background-color: #2b2d42;
}

.game-container {
    background-color: #ffca3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.row {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boxLight,
.boxDark {
    width: 30px;
    height: 30px;
}

.boxDark {
    background-color: #ffca3a;
}

.boxLight {
    background-color: #ffda74;
}

.snakeBody {
    background-color: #8ac926;
    border: 1px solid #25af6c;
    border-radius: #ff595e;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.snakeHead {
    background-image: url(snakeHead.png);
    background-size: cover;
    border: 1px solid #25af6c;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.apple {
    background-image: url(appletr.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}