body {
    background-color: #2b2d42;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startGame {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #8ac926;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
}

#startGame:hover {
    background-color: #6fa31e;
}

.score {
    color: white;
    text-align: center;
    margin-top: 0px;
    position: relative;
    z-index: 1;
}

.game-container {
    background-color: #ffca3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.row {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boxLight,
.boxDark {
    width: 30px;
    height: 30px;
}

.boxDark {
    background-color: #ffca3a;
}

.boxLight {
    background-color: #ffda74;
}

.snakeBody {
    background-color: #8ac926;
    border: 1px solid #25af6c;
    border-radius: #ff595e;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.snakeHead {
    background-image: url(snakeHead.png);
    background-size: cover;
    border: 1px solid #25af6c;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
}

.apple {
    background-image: url(appletr.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

.gameResult {
    background-color: #484b6e;
    width: 15%;
    margin: auto;
    display: block;
    z-index: 100;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ffffff;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}